.boxed {
	min-width: 150px;
	padding-right: 8px;
}

h2 {
	margin: 8px auto 0px auto;
}

h2.minimized {
	margin: 0px auto;
}

.log-entries {
	max-height: 200px;
	padding-right: 8px;
	overflow-y: scroll;
}

.log-filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 585px;

	button {
		background: #002b2c;
		border: 2px solid #00696b;
		margin: 8px;
		flex-grow: 1;
		padding: 4px 8px;
		font-size: 0.8em;
		transition: background 0.15s, border 0.15s;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			line-height: 1.2em;
		}
	}

	.filter-disabled {
		background: #001d1f;
		border: 2px solid #003033;
		transition: background 0.15s, border 0.15s;

		.circle {
			background: #3e4358;
			transition: background 0.15s;
		}
	}

	button:hover {
		background: #003a3b;
		border: 2px solid #007c7e;
		transition: background 0.15s, border 0.15s;
	}
}

p {
	font-size: 0.8em;
}

span.circle {
	width: 12px;
	height: 12px;
	box-sizing: border-box;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	transition: background 0.15s;
	cursor: default;
}

.SUCCESS {
	background: #34df00;
}
.WARNING {
	background: #dfdf00;
}
.INFO {
	background: #0083df;
}
.ERROR {
	background: #df0024;
}

.box-closer:after {
	content: '▼';
}
.box-closer.minimized {
	top: 7px;
	right: 16px;
}
.minimized.box-closer:after {
	content: '▲';
}
