<div class="boxed sidebar-box" *ngIf="selectedGrid">
	<h1>{{ properties?.name }}</h1>
	<div *ngIf="properties">
		<ul>
			<li>Quadrant: {{ properties.quadrant }}</li>
			<li>Sector: {{ properties.sector }}</li>
			<li>Sub-sector: {{ properties.subSector }}</li>
		</ul>
		<ul *ngIf="properties.isDiscovered">
			<li>Planets: {{ properties.planetCount }}</li>
			<li>Comets: {{ properties.cometCount }}</li>
			<li>Satellites: {{ properties.naturalSatelliteCount }}</li>
			<li>Asteroids: {{ properties.asteroidCount }}</li>
		</ul>
	</div>
	<div *ngIf="canBeScanned">
		<button class="button block" type="button" (click)="scanGrid()" [disabled]="isScanning">Scan grid</button>
	</div>
	<span
		class="box-closer link"
		(click)="this.closeBox()"
	></span>
</div>
