@import '../../../scss/colors.scss';

:host {
	color: #fff;
}

.container {
	position: relative;
}

// Adjust closer position because of dialog
.box-closer {
	top: -35px;
	right: -20px;
	font-size: 1.5em;
}

h2.INFO {
	color: $info-color;
}
h2.WARNING {
	color: $warning-color;
}
h2.ERROR {
	color: $error-color;
}
h2.SUCCESS {
	color: $success-color;
}
