<div class="main-container">
	<div class="action-bar">
		<button (click)="onJumpClick()">Jump</button>
		<button (click)="onGridToggle()">{{ isGridVisible ? 'Hide' : 'Show' }} grid</button>
		<button (click)="onDecodeSignalClick()">Decode signal</button>
		<button (click)="onCenterToShipClick()">Center to ship</button>
	</div>
	<app-map></app-map>
	<div class="right-sidebar-wrapper">
		<app-ship-info></app-ship-info>
		<app-object-details></app-object-details>
		<app-grid-details></app-grid-details>
	</div>
	<div class="ship-log">
		<app-ship-log></app-ship-log>
	</div>
</div>
