@import '../../../scss/colors.scss';

:host {
	color: #fff;
}

.container {
	position: relative;
}

h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.decode-error {
	font-size: 0.9em;
	color: lighten($error-color, 30%);
}

input {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.3em;
}

button {
	font-size: 1.1em;
}

.link-disabled {
	color: darken(#006466, 10%);
	cursor: not-allowed;
}

// Adjust closer position because of dialog
.box-closer {
	top: -35px;
	right: -20px;
	font-size: 1.5em;
}

.validation-message {
	height: 1.5em; /* Ensure consistent height */
	display: flex;
	align-items: center;
	justify-content: space-between; /* Space out text and checkmark */
	color: white;
}

.success-message {
	color: $success-color;
	font-weight: bold;
}

.checkmark {
	display: inline-block;
	width: 1em; /* Adjust width to align with text height */
	height: 1em; /* Ensure it is square to avoid layout shift */
	line-height: 1em; /* Align vertically */
	font-size: 1em; /* Adjust font size to match text */
}
