<div class="container">
	<div>
		<h2>Enter signal decryption key</h2>
		<p class="decode-error">{{ error }}</p>
		<div>
			<input
				type="text"
				class="input"
				(keydown)="keyDown($event)"
				[(ngModel)]="value"
				[disabled]="isSubmitting"
				autofocus
				#signalInput
				[minlength]="13"
				[maxlength]="13"
			/>
			<p
				class="validation-message"
				*ngIf="value.length !== 13 && !isSubmitting"
			>
				The key must be exactly 13 characters long
			</p>
			<p
				class="validation-message success-message"
				*ngIf="value.length === 13 && !isSubmitting"
			>
				The key must be exactly 13 characters long
				<span class="checkmark">&#10004;</span>
			</p>
			<button
				class="button block"
				[ngClass]="{ 'button-in-progress': isSubmitting }"
				[disabled]="isSubmitting || value.length !== 13"
				type="button"
				(click)="onDecodeSignal()"
			>
				<span *ngIf="!isSubmitting">DECRYPT SIGNAL &gt;&gt;</span>
				<span *ngIf="isSubmitting">DECRYPTING...</span>
			</button>
			<span
				class="box-closer link"
				[ngClass]="{ 'link-disabled': isSubmitting }"
				(click)="this.close()"
			></span>
		</div>
	</div>
</div>
