<div id="map"></div>
<div id="popup" class="ol-popup" #popup>
	<div id="popup-content" #popupContent>
		<ul>
			<li *ngFor="let feat of clickedFeatures; let i = index">
				<span class="link" [ngClass]="{ 'is-scanned': feat.properties.is_scanned }"(click)="this.selectFeature(feat)"
					>{{ feat.properties.name_generated }} ({{
						feat.properties.category || feat.properties.celestial_body
					}})</span
				>
				<hr *ngIf="i + 1 !== clickedFeatures.length"/>
			</li>
		</ul>
	</div>
	<span
		id="popup-closer"
		class="ol-popup-closer link"
		(click)="this.closePopup($event)"
	></span>
</div>
