:host {
	color: #fff;
}

.container {
	position: relative;
}

form {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	div {
		margin: 16px;
	}
	div:first-child {
		margin-left: 0;
	}
	label {
		padding: 4px 0;
		font-weight: bold;
		font-size: 0.85em;
	}
	input {
		width: 100%;
	}
}

// Adjust closer position because of dialog
.box-closer {
	top: -35px;
	right: -20px;
	font-size: 1.5em;
}
