<div class="container">
	<div *ngIf="jumpStatus && jumpStatus === 'ready_to_prep'">
		<h2>Insert jump coordinates</h2>
		<div>
			<form [formGroup]="jumpForm" (ngSubmit)="onCalculateJumpCoordinates()">
				<div>
					<label for="subQuadrant"
						>Sub-quadrant<span class="input-required">*</span></label
					>
					<input
						class="input"
						id="subQuadrant"
						formControlName="sub_quadrant"
						trim="blur"
						placeholder="Alpha-6"
					/>
				</div>
				<div>
					<label for="sector"
						>Sector<span class="input-required">*</span></label
					>
					<input
						class="input"
						id="sector"
						formControlName="sector"
						trim="blur"
						placeholder="D3"
					/>
				</div>
				<div>
					<label for="subSector"
						>Sub-sector<span class="input-required">*</span></label
					>
					<input
						class="input"
						id="subSector"
						formControlName="sub_sector"
						trim="blur"
						placeholder="118"
					/>
				</div>
				<div>
					<label for="planetOrbit">Orbit</label>
					<input
						class="input"
						id="planetOrbit"
						formControlName="planet_orbit"
						trim="blur"
						placeholder="P-OC55-EL79"
					/>
				</div>
			</form>
			<button
				class="button block"
				[disabled]="!jumpForm.valid || isSubmitting"
				type="button"
				(click)="onCalculateJumpCoordinates()"
			>
				CALCULATE JUMP VECTORS &gt;&gt;
			</button>
			<span class="box-closer link" (click)="this.close()"></span>
		</div>
	</div>
	<div *ngIf="jumpStatus && jumpStatus === 'prep_complete'">
		<span class="time-until-safe-jump"
			>Ready for safe jump in {{ safeJump$ | async }}</span
		>
		<button
			class="button block massive-button button-abort"
			type="button"
			[disabled]="jumpCrystalCount < 1"
			(click)="onPerformJump()"
		>
			<div class="big-button-wrapper" *ngIf="jumpCrystalCount > 0">
				<span>ENGAGE JUMP &gt;&gt;</span>
				<span class="subtitle">(Premature jump causes breakdowns)</span>
			</div>
			<div class="big-button-wrapper" *ngIf="jumpCrystalCount < 1">
				<span>NO JUMP CRYSTALS</span>
			</div>
		</button>
	</div>
	<div *ngIf="jumpStatus && jumpStatus === 'ready'">
		<button
			class="button block massive-button"
			type="button"
			[ngClass]="{ 'button-abort': jumpCrystalCount < 1 }"
			[disabled]="jumpCrystalCount < 1"
			(click)="onPerformJump()"
		>
			<div class="big-button-wrapper" *ngIf="jumpCrystalCount > 0">
				<span>ENGAGE JUMP &gt;&gt;</span>
			</div>
			<div class="big-button-wrapper" *ngIf="jumpCrystalCount < 1">
				<span>NO JUMP CRYSTALS</span>
			</div>
		</button>
	</div>
	<div *ngIf="jumpStatus && jumpStatus === 'calculating'">
		<button
			class="button block massive-button button-abort"
			type="button"
			(click)="onCancelJump()"
		>
			ABORT CALCULATION
		</button>
	</div>
</div>
